<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Page {% endblock %}</title>
</head>
<body>
    <header>
        <h1>site name</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
       
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color: green;">
        {% for msg in messages%}
        <li>{{msg}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}

    
     {% block content%}  {%endblock%}

    
    <footer>
      <p>@2025</p>
    </footer>
</body>
</html>