{% extends "base.html" %}

{% block title %} About Page {% endblock %}

{% block content %} 

<h1>This is About page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facilis itaque tenetur delectus nobis. Neque id quibusdam quae ducimus pariatur illum reprehenderit nemo exercitationem laudantium corrupti consequatur quos, iste incidunt! Accusamus officiis, quas in quae libero voluptatem possimus atque aut rem. Blanditiis officiis dignissimos nulla nihil laboriosam ex eos cupiditate, est reprehenderit! Sit quos voluptatem beatae cumque eius minima. Error, possimus eius! Nihil optio voluptatibus commodi tempora voluptates iste maiores eum veniam est numquam, consectetur totam facilis consequatur qui provident. Tenetur, fuga veniam dolorum est alias quae quasi assumenda explicabo vel eaque nemo cupiditate. Exercitationem error ratione pariatur explicabo nemo!
</p>
{% endblock %}